<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01-Forms</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="app">
        <h1 class="vue-title">{{ title }}</h1>
        <h2 class="vue-message">{{ message }}</h2>
        <div class="form-container">
            <form action="/aaa" method="POST" @reset="onReset" @submit="onSubmit">
                <input class="input-text-01-forms" type="text" placeholder="wpisz text">
                <button class="fancy-ds-button" type="reset" style="margin-right: 0.938rem;">Zresetuj</button>
                <button class="fancy-ds-button" type="submit" style="margin-right: 0.938rem;">Wyślij zapytanie</button>
                <input class="checkbox-01-forms" type="checkbox" id="checkbox" v-model="checked">
                <label class="label-01-forms" for="checkbox">blokada zdarzeń formularza</label>
            </form>
        </div>
        <h3 class="exercise" v-if="formInfo==null"></h3>
        <h3 class="exercise" v-else v-text="formInfo"></h3>
    </div>

    </div>
    <script>
        const app = Vue.createApp({

            data() {
                return {
                    title: "01:Forms",
                    message: 'modyfikacja domyślnych zdarzeń, e.preventDefault()',
                    formInfo: null,
                    reset: true,
                    submit: true,
                    checked: false

                }
            },
            methods: {
                onReset(e) {

                    if (this.checked === true) {
                        e.preventDefault();
                        this.formInfo = "formularz się nie resetuje"
                    } else if (this.checked === false) {
                        this.formInfo = "formularz się resetuje"
                    }

                },
                onSubmit(e) {
                    console.log("formularz się nie wysyła")
                    if (this.checked === true) {
                        e.preventDefault();
                        this.formInfo = "formularz się nie wysyła"
                    } else if (this.checked === false) {
                        this.formInfo = "formularz się wysyła"
                    }
                }
            }
        }).mount("#app")
    </script>
</body>

</html>