<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02-Forms</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="app">
        <h1 class="vue-title">{{ title }}</h1>
        <h2 class="vue-message">{{ message }}</h2>
        <div class="forms-02-container">
            <div class="left-side-forms-2">
                <h3 class="exercise" v-text="message2"></h3>
                <div><input class="left-side-input-forms-2" type="text" id="imie" placeholder="Imie" v-model="name">
                    <label for="imie">Długość {{writeLengths(name)}} </label>
                </div>
                <div><input class="left-side-input-forms-2" type="text" id="nazwisko" placeholder="Nazwisko"
                        v-model="surname">
                    <label for="nazwisko">Dlugosc {{writeLengths(surname)}} </label>
                </div>
                <div><input class="left-side-input-forms-2" type="text" id="zawod" placeholder="Zawód" v-model="job">
                    <label for="zawod">Dlugosc {{writeLengths(job)}}</label>
                </div>
                <div> <input class="left-side-input-forms-2" type="text" id="wynagrodzenie" placeholder="Wynagrodzenie"
                        v-model="price">
                    <label for="wynagrodzenie">Dlugosc {{writeLengths(price)}}</label>
                </div>
                <button class="submit-btn-forms-2" type="submit" :disabled="!isReady">Wyślij</button>
            </div>
            <div class="right-side-forms-2">
                <h3 class="exercise" v-text="message3"></h3>
                <p> <span class="span-forms-2">Imie:</span> {{name}}</p>
                <p><span class="span-forms-2">Nazwisko:</span> {{surname}}</p>
                <p> <span class="span-forms-2">Zawód:</span> {{job}}</p>
                <p> <span class="span-forms-2">Wynagrodzenie:</span> {{price}}</p>
            </div>

        </div>

    </div>

    </div>
    <script>
        const app = Vue.createApp({

            data() {
                return {
                    title: "02:Forms",
                    message: 'v-model, computed',
                    message2: 'Uzupełnij dane',
                    message3: "Sprawdź poprawność danych",
                    name: '',
                    surname: '',
                    job: '',
                    price: '',
                }
            },
            computed: {
                isReady() {
                    if (this.name.length !== 0 && this.surname.length !== 0 && this.job.length !== 0 && this.price.length !== 0) {
                        return true
                    } else if (this.name.length === 0 || this.surname.length === 0 || this.job.length === 0 || this.price.length === 0) {
                        return false
                    }
                },
            },
            methods: {
                writeLengths(val) {
                    console.log(val.length);
                    return val.length
                }

            }
        }).mount("#app")
    </script>
</body>

</html>