<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02-Forms</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="app">
        <h1 class="vue-title">{{ title }}</h1>
        <h2 class="vue-message">{{ message }}</h2>
        <div class="form-container">
            <h3 class="exercise" v-text="message2"></h3>
            <h3 class="exercise" v-text="message3"></h3>
        </div>
        <input type="text" id="imie" placeholder="Imie" v-model="name">
        <label for="imie">Długość {{writeLengths(name)}} </label>
        <input type="text" id="nazwisko" placeholder="Nazwisko" v-model="surname">
        <label for="nazwisko">Dlugosc {{writeLengths(surname)}} </label>
        <input type="text" id="zawod" placeholder="Zawód" v-model="job">
        <label for="zawod">Dlugosc {{writeLengths(job)}}</label>
        <input type="text" id="wynagrodzenie" placeholder="Wynagrodzenie" v-model="price">
        <label for="wynagrodzenie">Dlugosc {{writeLengths(price)}}</label>
        <button type="submit" :disabled="!isReady">Wyślij</button>
        <p>Imie: {{name}}</p>
        <p>Nazwisko: {{surname}}</p>
        <p>Zawód: {{job}}</p>
        <p>Wynagrodzenie: {{price}}</p>
    </div>

    </div>
    <script>
        const app = Vue.createApp({

            data() {
                return {
                    title: "02:Forms",
                    message: 'v-model, computed',
                    message2: 'Uzupełnij dane',
                    message3: "Sprawdź poprawność danych",
                    name: '',
                    surname: '',
                    job: '',
                    price: '',
                }
            },
            computed: {
                isReady() {
                    if (this.name.length !== 0 && this.surname.length !== 0 && this.job.length !== 0 && this.price.length !== 0) {
                        return true
                    } else if (this.name.length === 0 || this.surname.length === 0 || this.job.length === 0 || this.price.length === 0) {
                        return false
                    }
                },
            },
            methods: {
                writeLengths(val) {
                    console.log(val.length);
                    return val.length
                }

            }
        }).mount("#app")
    </script>
</body>

</html>