<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>05-Forms</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="app">
        <h1 class="vue-title">{{ title }}</h1>
        <h2 class="vue-message">{{ message }}</h2>
        <div class="forms-06-container">
            <h2 class="vue-message" style="margin-left: 0.938rem;">Dodaj do koszyka</h2>
            <h3 class="exercise" style="margin-left: 0.938rem;">Produkty:</h3>
            <div class="checkboxes-div">
                <div class="inplabel-div" v-for="(product,i) in products">
                    <input type="checkbox" :id=i>
                    <label :for=i v-text="product"></label>
                </div>
            </div>
            <h3 class="exercise" style="margin-left: 0.938rem;">Sposób dostawy: {{option}}</h3>
            <div class="radios-div">
                <div class="radiolabel-div" v-for="(order,i) in orderOptions">
                    <img :src=order.img alt="zdjencie" height="50" width="100">
                    <input @change="checkRadio" type="radio" name="order-options" :id="i" :value="order.name">
                    <label :for="i" v-text="order.name"></label>
                </div>

            </div>
        </div>

    </div>
    <script>
        const app = Vue.createApp({

            data() {
                return {
                    title: "06: Zadanie",
                    message: 'json from server',
                    products: [
                        'Myszka', 'Laptop', 'Komputer', 'Monitor', 'Głośniki', 'Laptop', 'Tablet', 'Komórka', 'Pamięć', 'Obudowa', 'RAM', 'Windows', 'Corel', 'Photoshop', 'Kabel', 'Telewizor'
                    ],
                    orderOptions: [
                        { name: 'Kurier DPD', img: 'gfx/dpd.svg' },
                        { name: 'inPOST', img: 'gfx/inpost.png' },
                        { name: 'Paczkomaty', img: 'gfx/locker.png' },
                        { name: 'Poczta Polska', img: 'gfx/poczta.png' },
                        { name: 'Osobiście', img: 'gfx/locker.png' }
                    ],
                    option: '',
                    check: false,
                    check2: false,
                    accept: false,
                    selectedOrder: 'None'
                }
            },
            computed: {
                isReady() {
                    if (this.check === true && this.check2 === true && this.accept === true) {
                        return true
                    } else if (this.check === false || this.check2 === false || this.accept === false) {
                        return false
                    }
                }
            },
            methods: {
                checkCheckbox(e) {
                    if (e.target.checked === true) {
                        console.log('wow mega');
                        this.check = true
                    } else if (e.target.checked === false) {
                        console.log('wow mega');
                        this.check = false
                    }
                },
                checkRadio(e) {
                    console.log(e.target.value);
                    this.option = e.target.value
                    if (e.target.checked === true) {
                        console.log('wow mega2');
                        this.check2 = true
                    } else if (e.target.checked === false) {
                        console.log('wow mega2');
                        this.check2 = false
                    }
                },
                checkAccept(e) {
                    if (e.target.checked === true) {
                        console.log('wow mega3');
                        this.accept = true
                    } else if (e.target.checked === false) {
                        console.log('wow mega3');
                        this.accept = false
                    }
                },
                convertCurrency(currency) {
                    console.log(currency);
                    switch (currency) {
                        case "PLN":
                            return "ZŁOTYCH"
                            break;
                        case "GBP":
                            return "FUNTÓW"
                            break;
                        case "USD":
                            return "DOLARÓW"
                            break;

                        default:
                            break;
                    }
                }
            }
        }).mount("#app")
    </script>
</body>

</html>