<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>01-dyrektywy-v-for-tablice</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="app">
    <h1 class="vue-title">{{ title }}</h1>
    <h2 class="vue-message">{{ message }}</h2>
    <h3 class="exercise">cw 1</h3>
    <li v-for="item in array" style="font-size: 1.5em;">{{item}}</li>
    <hr>
    <h3 class="exercise">cw 2</h3>
    <div class="li-container">
      <ul class="vue-ul">
        <li v-for="item in array">{{item}}</li>
      </ul>
      <ul class="vue-ul">
        <li v-for="item in array2">{{item}}</li>
      </ul>
      <ul class="vue-ul">
        <li v-for="(item,i) in array2">{{i}}:{{item}}</li>
      </ul>

    </div>

  </div>
  <script>
    const app = Vue.createApp({

      data() {
        return {
          title: "01: Dyrektywy VueJS",
          message: 'Dyrektywa v-for - iteracja po wartościach tablicy - wiązanie dwukierunkowe',
          array: [1, 2, 3],
          array2: ["d", "b", "c", "a"]
        }
      }
    }).mount("#app")
  </script>
</body>

</html>